#imgcarrusel{
    width: 100%;
    height: 720px;
}



.imgtrans{
    height: px;
}

#instalaciones{
    font-family: 'Times New Roman', Times, serif;
    font-size:300%;
}

.card{
    width: 18rem;
}

#imgtransbull{
    width: 100%;
    height: 720px;
    padding-top: 5%;
}

#ptransbull{
    padding-top: 5%;
}

#cont{
    height: 50%;
    margin-bottom: 5%;
}